flow editor.txt
[{"id":"b4064ad5.a39058","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3061b3ba.c67efc","type":"ibmiot in","z":"b4064ad5.a39058","authentication":"apiKey","apiKey":"f5f8049d.99a0a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1000","applicationId":"","deviceType":"nodemcu","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":114.16667175292969,"y":69,"wires":[["67933147.5cc3d","cb661b5d.8c6508"]]},{"id":"67933147.5cc3d","type":"function","z":"b4064ad5.a39058","name":"","func":"global.set(\"ldr\",msg.payload.d.ldr)\nreturn{payload:msg.payload.d.ldr};","outputs":1,"noerr":0,"x":339.16668701171875,"y":71.33333396911621,"wires":[["4aa6ac06.d9ae84","14fb82d.18eac7d"]]},{"id":"8f1d695f.7efb58","type":"http in","z":"b4064ad5.a39058","name":"","url":"/radhesh","method":"get","upload":false,"swaggerDoc":"","x":132.1666717529297,"y":215.33334350585938,"wires":[["27bc4f7b.27319"]]},{"id":"4aa6ac06.d9ae84","type":"debug","z":"b4064ad5.a39058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":552.1666870117188,"y":70.33334350585938,"wires":[]},{"id":"ac1faa9b.687928","type":"http response","z":"b4064ad5.a39058","name":"","statusCode":"","headers":{},"x":612.1666774749756,"y":219.33335304260254,"wires":[]},{"id":"14fb82d.18eac7d","type":"ui_gauge","z":"b4064ad5.a39058","name":"","group":"8880f54e.7de768","order":12,"width":0,"height":0,"gtype":"gage","title":"ldr","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":616.5,"y":146,"wires":[]},{"id":"cb661b5d.8c6508","type":"cloudant out","z":"b4064ad5.a39058","name":"","cloudant":"","database":"weatherdata","service":"gitam-cloudantNoSQLDB","payonly":false,"operation":"insert","x":328.16669845581055,"y":127.0000114440918,"wires":[]},{"id":"27bc4f7b.27319","type":"function","z":"b4064ad5.a39058","name":"","func":"msg.payload={\"ldr\":global.get(\"ldr\")};\nreturn msg;","outputs":1,"noerr":0,"x":336.06944274902344,"y":221.57291412353516,"wires":[["ac1faa9b.687928"]]},{"id":"41c8ba91.5880c4","type":"ui_button","z":"b4064ad5.a39058","name":"","group":"8880f54e.7de768","order":14,"width":0,"height":0,"passthru":false,"label":"lighton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":170.51390075683594,"y":355.7222366333008,"wires":[["957b66a9.3593b8","fd35bd17.819b5"]]},{"id":"847afbc9.f73a98","type":"ui_button","z":"b4064ad5.a39058","name":"","group":"8880f54e.7de768","order":15,"width":0,"height":0,"passthru":false,"label":"lightoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":174.52430725097656,"y":446.7291946411133,"wires":[["957b66a9.3593b8","fd35bd17.819b5"]]},{"id":"957b66a9.3593b8","type":"debug","z":"b4064ad5.a39058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":531.0694732666016,"y":442.56250762939453,"wires":[]},{"id":"edec16d0.b4e778","type":"http in","z":"b4064ad5.a39058","name":"","url":"/dheeraj","method":"get","upload":false,"swaggerDoc":"","x":165.01734924316406,"y":507.0104064941406,"wires":[["6089760e.f5a048"]]},{"id":"6089760e.f5a048","type":"function","z":"b4064ad5.a39058","name":"","func":"msg.payload=msg.payload.message\nreturn msg;\n","outputs":1,"noerr":0,"x":391.01738357543945,"y":506.0103988647461,"wires":[["a7b47ee0.c2a2d","957b66a9.3593b8","fd35bd17.819b5"]]},{"id":"a7b47ee0.c2a2d","type":"http response","z":"b4064ad5.a39058","name":"","statusCode":"","headers":{},"x":562.017333984375,"y":506.0104064941406,"wires":[]},{"id":"fd35bd17.819b5","type":"ibmiot out","z":"b4064ad5.a39058","authentication":"apiKey","apiKey":"f5f8049d.99a0a8","outputType":"cmd","deviceId":"1000","deviceType":"nodemcu","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":530.017333984375,"y":368.0104064941406,"wires":[]},{"id":"f5f8049d.99a0a8","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"nrdaz1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"8880f54e.7de768","type":"ui_group","z":"","name":"Default","tab":"e6c4067f.4b05b8","disp":true,"width":"6","collapse":false},{"id":"e6c4067f.4b05b8","type":"ui_tab","z":"","name":"bot","icon":"dashboard","disabled":false,"hidden":false}]